# FastAPI and running server
uvicorn[standard]

langchain_huggingface
langchain_chroma
requests
bs4
langchain
langchain_community
fastapi
pydantic
langchain_openai
langchain_huggingface
langchain_chroma
pypdf
